- page_title _('Jira Issues')

.js-issuables-list{ data: { endpoint: expose_url(api_v4_groups_issues_path(id: @project.group.id)),
  'can-bulk-edit': false,
  'empty-svg-path': image_path('illustrations/issues.svg'),
  'sort-key': @sort } }
